html {
  background-color: #000;
}

body {
  background-color: #fff;
}

.main {
  background-color: #fff;

  .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}