<section class="section section-showcase">
  <div class="container">
    <h1>Take gorgeous open source blogging.<br>And make it simple.</h1>
    <p>
      Using <a href="http://github.com">GitHub</a> and <a href="http://jekyllrb.com">Jekyll</a> is already an elegent solution for bloggers.
      We tried to make those powerfull technologies, more accessible.
      Now you can use them from your browser, anywhere, anytime.
    </p>
    <% unless signed_in? %>
      <%= link_to login_path, class: 'button' do %>
        Sign in with GitHub, start blogging now!
      <% end %>
    <% end %>

    <div class="hero-images">
      <div id="hero-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#hero-carousel" data-slide-to="1"></li>
          <li data-target="#hero-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag image_url('kissmyblog-browser-editor-large.png') %>
          </div>
          <div class="item">
            <%= image_tag image_url('kissmyblog-browser-attributes-large.png') %>
          </div>
          <div class="item">
            <%= image_tag image_url('kissmyblog-browser-images-large.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>